* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h5 {
  text-align: center;
}

.maincontainer {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

body {
  height: 100vh;
  
}

main {
  grid-column: 2/2;
  padding: 75px 120px 75px 50px;
}

.navcontainer {
  grid-column: 1/1;
  display: block;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.chartcontainer {
  width: 80%;
  margin: 100px auto;
}

.VictoryContainer svg g {
  padding-top: 400px
}

.VictoryContainer {
  color: white;
}

.axis {
  text-align: left
}

.pagetitle {
  text-align: center;
}

ul {
  margin: 50px;
}
